{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h2>Deposit Money to your Accountt</h2>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="amount">Amount:</label>
          <input type="number" name="amount" id="amount" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Deposit</button>
      </form>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
      $("#trans_button").show();
  })    
</script>
{% endblock %}