{% extends 'base.html' %}

{% block content %}
  <h2>Transaction History</h2>
  {% if transactions %}
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in transactions %}
          <tr>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.type }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.balance }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No transactions to display.</p>
  {% endif %}

  <script>
    $(document).ready(function(){
        $("#trans_button").show();
    })    
  </script>
{% endblock %}