/* Reset styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Global styles */
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #333;
}

header {
	background-color: #f5f5f5;
	padding: 10px;
}

nav ul {
	list-style: none;
	display: flex;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #333;
	text-decoration: none;
}

main {
	padding: 20px;
}

.services {
	display: flex;
	flex-wrap: wrap;
}

.service {
	flex-basis: 30%;
	margin: 10px;
	padding: 10px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service h3 {
	font-size: 24px;
	margin-bottom: 10px;
}

.service p {
	font-size: 16px;
	line-height: 1.5;
}

footer {
	background-color: #f5f5f5;
	padding: 10px;
	text-align: center;
}
