<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background: #18466f;color:white;padding:20px">
        <a class="navbar-brand" href="{% url 'login' %}" style="color:white">Online Banking System</a>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav" id="trans_button">
            <li class="nav-item active" style="list-style-type: none; margin:13px">
              <a class="nav-link" style="color:white; padding-left:20px;" href="{% url 'deposit' %}">Deposit <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" style="list-style-type: none; margin:13px">
                <a class="nav-link" style="color:white;" href="{% url 'withdraw' %}">Withdrawal <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" style="list-style-type: none; margin:13px">
                <a class="nav-link" style="color:white;" href="{% url 'transaction_history' %}">Transaction History <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" style="list-style-type: none; margin:13px 0 0 450px;">
                {% csrf_token %}
                <a class="nav-link" style="color:white;" href="{% url 'logout' %}">Logout <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
      
      <script>
        $(document).ready(function(){
            $("#trans_button").hide();
        })
      </script>
<!-- 
    <div class="m-0">
        <h3 class="bg-primary text-white m-0" style="margin:0;padding:15px;font-family:sans-serif">
            Banking System
            <span class="bg-white p-2 text-sm">
                <a href="{% url 'deposit' %}" class="text-white link-light">
                    Deposit
                </a>
            </span>
            <span class="bg-white p-2 text-small">Withdraw</span>
            <span class="bg-white p-2 text-small">Show Transactions</span>
        </h3>
    </div> -->
    {% block content %}{% endblock %}
</body>
</html>