{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h2>Welcome, {{ name }}!</h2>

    {% if request.GET.success_message %}
    <div id="success-message">{{ request.GET.success_message }}</div>
    {% endif %}
    <br>
    <h3 style="padding: 0 25px">Your account balance is: {{ balance }}</h3>
    
    <!-- Add JavaScript to switch between tabs -->
    <script>
        $(document).ready(function() {
            $('#myTab a').on('click', function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
        });
        
        $(document).ready(function(){
            $("#trans_button").show();
        })
      
    </script>
{% endblock %}
