{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h2>Welcome to the Banking System</h2>
    </div>
    <div class="card-body">
      <p>Please login or register to continue.</p>
      <a href="{% url 'login' %}" class="btn btn-primary mr-3">Login</a>
      <a href="{% url 'register' %}" class="btn btn-success">Register</a>
    </div>
  </div>
</div>
{% endblock %}
