{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="container col-12 center">
        <h1 class="display-4">Login</h1>
        <form action="" class="form" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <div class="mt-5">
            Don't have an account? <a href="{% url 'register' %}">Register</a>
        </div>
    </div>
    {% endblock %}